rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /constellation/{docId} {
      allow read, write: if true;
    }
    match /database/{docId} {
      allow read, write: if true;
    }
  }
}
